<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/esqueceuasenha.css">
        <title>LOGIN</title>
    </head>
    <body>
        <section class="area-login">
            <div class="login">
                <div>
                  <img src="/static/img/logoPNG.png"></p>
                </div>
                <form  method="post" >
                    <p>Insira o seu Email para a Recuperação da Senha</p>
                    
                    <input type="email" name="email" placeholder="Email" autofocus> <!--AUTOFOCUS-->

                    <div class="input-group" >
                        <input id="button" type="submit" value="Enviar" >
                    </div>
                
                </form>
            </div>
        </section>
    </body>
</html>