
<body>
    <section class="obgcard">
        <div class="cardo">
          
            <h1>Obrigada pelo contato!</h1>
            <p class="paragrafo">Em breve entraremos em contato; </p> <br>
            <p class="paragrafo">EQUIPE DILEM</p> <br>
            <div>
                <img src="/static/img/logoPNG.png">
             </div>
    </section>
</body>

<meta http-equiv="refresh" content="3 ;{{url_for('inicios')}}">


<style>

    body{
        background-color: rgb(200, 181, 255);
    }

    .obgcard{
    display: flex; /*Para alinhar os itens*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
    .cardo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    width: 360px;
    height: 440px;
    padding: 35px;
}

p{
     font-family:sans-serif;
}
</style>

