{% extends 'base.html' %}

{% block conteudo %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/Salas_ocupStyle.css" />
    <script>
      $.getScript('/static/js/Salas_ocupScript.js', function() { })
    </script>
    <section class="container">
      <header>Reservas do Dia</header>
      <form action="#" class="form">
        <div class="column">
            <div class="select-box">
              <select>
                <option hidden>Bloco</option>
                <option> Bloco A</option>
                <option> Bloco B</option>
                <option> Bloco C</option>
              </select>
            </div>
            <div class="select-box">
                <select>
                  <option hidden>Salas</option>
                  <option>Desenvolvimento de Sistema</option>
                  <option> Mecânica</option>
                  <option> Manutenção Automotiva</option>
                  <option> 6ºA - Sesi</option>
                  <option> 8ºB - Sesi</option>
                  <option> 9ºB - Sesi</option>
                </select>

            </div>
        </div>
        <div class="input-box">
          <input type="text" placeholder="Nome do responsável" />
        </div>
        <div class="column">
            <button>Filtrar</button>
            <button type="reset">Limpar filtro</button>
          </div>
      </form>
    </section> 
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
    <div class="column">
      <div class="isso margem" id="excluir">
          <div class="columnn">
            <h3>Esther Beatriz da Costa Oliveira</h3>
          </div>
          <br><i class="fa fa-home space"></i>
          <button class="bote space">Bloco B</button>
          <button class="bote">Sala 201B</button>
          <br><i class="fa fa-calendar space"></i><a style="margin: 7%;">06/04/2023</a>
          <br><i class="fa fa-clock space"></i>
          <button class="bote space"> 08:00</button>
          <button class="bote"> 12:00</button>
        <br><h6 class="space">Finalidade: </h6>
        <input type="text" class="input" placeholder="Prova Teórica." readonly>
        
        <div class="column">
          <button class="editar margems"><a href="{{url_for('editarReserva')}}" style="color: aliceblue; text-decoration: none;">Editar</a></button>
          <button class="editar" onclick="excluir()">Excluir</button>
          <button class="editar">Feito</button>
        </div>
      </div>
    </div>
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
    <div class="column">
      <div class="isso margem">
        <div class="columnn">
          <h3>Maria Eduarda</h3>
        </div>
        <br><i class="fa fa-home space"></i>
          <button class="bote space">Bloco B</button>
          <button class="bote">Sala De Criatividade</button>
          <br><i class="fa fa-calendar space"></i><a style="margin: 7%;">07/04/2023</a>
          <br><i class="fa fa-clock space"></i>
          <button class="bote space"> 12:00</button>
          <button class="bote"> 15:00</button>
        <br><h6 class="space">Finalidade: </h6>
        <input type="text" class="input" placeholder="Apresentação dos Alunos" readonly>
        <div class="column">
          <button class="editar margems"><a href="{{url_for('editarReserva')}}" style="color: aliceblue; text-decoration: none;">Editar</a></button>
          <button class="editar" onclick="excluir()">Excluir</button>
          <button class="editar">Feito</button>
        </div>
      </div>  
    </div>
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
<div class="column">
  <div class="isso margem" id="excluir">
      <div class="columnn">
        <h3>Isabellade Medeiros Duarte</h3>
      </div>
      <br><i class="fa fa-home space"></i>
      <button class="bote space">Bloco B</button>
      <button class="bote">201B</button>
      <br><i class="fa fa-calendar space"></i><a style="margin: 7%;">08/04/2023</a>
      <br><i class="fa fa-clock space"></i>
      <button class="bote space"> 19:00</button>
      <button class="bote"> 22:00</button>
    <br><h6 class="space">Finalidade: </h6>
    <input type="text" class="input" placeholder="Aula Normal de Teoria." readonly>
    
    <div class="column">
      <button class="editar margems"><a href="{{url_for('editarReserva')}}" style="color: aliceblue; text-decoration: none;">Editar</a></button>
      <button class="editar" onclick="excluir()">Excluir</button>
      <button class="editar">Feito</button>
    </div>
  </div> 
</div>
<!-- ------------------------------------------------------------------------------------------------------------------------ -->

{% endblock conteudo %}